<div class="container-profile">
    <h1>Edita tu perfil:</h1><br>
    <form action="/profile/{{user.id}}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="username">Nombre de usuario: </label>
            <input type="text" class="form-control" id="inputAddress" name="username" value="{{user.username}}">
        </div>
        <div class="form-group">
            <label for="inputCity">¿De dónde vienes?:</label>
            <input type="text" class="form-control" id="inputCity" name="from" value="{{user.from}}">
        </div>
        <div class="form-group">
            <label for="password">¿Quién eres?: </label><br>
            <textarea class="form-control" name="description" rows="4" cols="75"
                value="{{user.description}}"></textarea>
        </div>
        <div class="form-group">
            <label for="imageUrl">Imagen: </label><br>
            <input type="file" name="imageUrl" value="{{user.imageUrl}}" />
        </div><br>
        <div class="form-group">
            <h3>Viajes: </h3>
            <ul>
                {{#each allPlaces}}
                <li>{{destination}}</li>
                {{/each}}
            </ul>
        </div>
        <button type="submit" class="btn btn-dark bg-success btn-block" value="Guardar perfil">Guardar</button>
    </form>
</div>
