<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Colecciones de viaje</h1>
        </div>
        <div class="col-md-12">
            
            <form action="/place/collections" method="POST">
                <div class="form-group">
                    <label for="destination-input" >Destino:</label>
                    <input name="destination" type="text" placeholder="¿Dónde quieres ir?" class="form-control" id="destination-input" required>
                </div>
                <br>

                <button type="submit" class="btn btn-dark">Crear Viaje!</button>
            </form>
        </div>
<div class="container"><br>
    <h1> Lista de viajes:</h1>
    <div class="row">
        {{#each allPlaces}}
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="{{imagePlaceUrl}}" alt="Imagen de la api">
                <div class="card-body">
                    <h5 class="card-title">{{{destination}}}</h5>
                    <p class="card-text">{{{description}}} </p>
                    <a class="btn btn-outline-dark me-2" href="/place/marker/edit/{{id}}">Edita </a> 
                    <a class="btn btn-outline-dark me-2" href="/place/marker/delete/{{id}}">Elimina </a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>